<html>
<head>
  <meta charset="UTF-8">
  <title>Simple webpack project</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <div id="wrap"></div>
  <div id="test" class="">When $a \ne 0$, there are two solutions to \(ax^2 + bx + c = 0\) and they are
$$x = {-b \pm \sqrt{b^2-4ac} \over 2a}.$$</div>
</body>
</html>
